.after_line::after {
  display: inline-block;
  width: 100%;
  content: "";
  margin-left: 20px;
  height: 1px;
  color: white;
  background-color: white;
}

.skills-list {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px))
}

.skills-list li::before {
  content:"▹";
  color: var(--cyan);
  margin-right: 10px; 
}
